.flex {
  display: flex;
  justify-content: space-between;
}

.title-box-all {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
  margin-left: 1vw;
  margin-bottom: 1.5vw;
  border-bottom-style: solid;
  border-bottom-width: 0.2vw;
  border-bottom-color: #cdcdcd;
}

.title-box {
  font-size: 2rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2vw;
  border-bottom-color: #cdcdcd;
}

.weather-content {
  margin: 1vw 0;
  font-size: 1.2rem;
}

.weather-type {
  margin: 1vw 0;
  padding: 0.5vw 1vw;
  background-color: rgb(0, 0, 0, 0.05);
  transition: 0.5s;
  border-radius: 0.5vw;
}

.weather-type-litle {
  display: inline-block;
  margin: 1vw 0vw;
  width: 11vw;
  padding: 0.5vw 1vw;
  background-color: rgb(0, 0, 0, 0.05);
  transition: 0.5s;
  border-radius: 0.5vw;
}

.weather-type-live {
  margin: 1vw 1vw;
  padding: 0.5vw 1vw;
  background-color: rgb(0, 0, 0, 0.05);
  transition: 0.5s;
  border-radius: 0.5vw;
}

.live-title {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.weather-type-title {
  font-size: 2.5rem;
  padding-left: 0.8vw;
  font-weight: 700;
}

.weather-com {
  margin: 0 1vw;
  margin-bottom: 1vw;
  padding: 0.5vw 2vw;
  border-style: solid;
  border-color: #dcdcdc;
  width: 27vw;
  display: inline-block;
  transition: 0.1s;
}

.weather-com:hover {
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.1);
}

.weather-city-title {
  display: inline-block;
  margin: 0.5vw 0;
  padding: 0 1vw;
  transition: 0.2s;
  border-radius: 5vw;
  font-weight: 900;
  background-color: #cd5555;
  color: white;
}

.weather-com:hover .weather-city-title {
  padding: 0 3vw;
}

.weather-all {
  display: flex;
  align-items: center;
}

.dis {
  margin-left: 1vw;
  display: inline-block;
  font-size: 1.2rem;
}

.change-logo {
  display: inline-flex;
  padding: 1vw;
}
