.header {
  background-color: #2c2c2c;
  height: 6vh;
  color: white;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
}

.title {
  height: 6vh;
  width: 20vw;
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 6vh;
  margin-left: 2vw;
}

.local-position {
  height: 6vh;
  width: 15vw;
  font-size: 1rem;
  font-weight: 900;
  line-height: 6vh;
}
